- content_for :page_title,  "Index"
.section.container
  - @posts.each do |post|
    .card.card-content
      .media
        .media-content
          %p.title.is-4= link_to post.title, post
      .content
        = post.content
      .comment-count
        %span.tag.is-rounded
          post.comments.count
          comments