- content_for :page_title, @post.title
%section.section
  .container
    %nav.level
      / Left side
      .level-left
        %p.level-item
          %strong Actions
      / Right side
      .level-right
        %p.level-item
          = link_to "Edit", edit_post_path(@post), class:"button"
        %p.level-item
          = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger"
    %hr
    .content
      = @post.content
